h1{
    font-size: 55px;
    margin: 0;
}

h2{
    font-size: 30;

}

h3{
    font-weight: normal;
}

section{
    display: flex;
    flex-direction: row;
}

.name-surname{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-surname>label{
    display: flex;
    flex-direction: row;
}

input{
    height: 2em;
    width: 97%;
}

.register-button-signup{
    background: rgba( 255, 255, 255, 18%);
    color: white;
    border-radius: 10px;
    width: 10vw;
    height: 7vh;
    margin: 1em;
    margin-left: auto;
    margin-right: 0;
    font-weight: bold;
}

.container{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label{
    margin: 0;
}

#firstname{
    height: 2em;
    width: 22vw;
}

#lastname{
   height: 2em;
   width: 22vw;
}

.name-surname>div{
    display: flex;
    flex-direction: column;
}

.name-surname>div>label{
    margin: 0;
}

.register-aside {
    width: auto;
    text-align: center;
    align-items: center;
    margin-top: 50vh;
    margin-top: 0;
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
}

.register-container{
    overflow: auto;
    width: 60%;
}

.login-container{
    width: 40%;
}

.register-aside>button{
    background: rgba( 255, 255, 255, 55%);
    color: #664F4F;
    border: 1px solid #707070; 
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    height: 7vh;
    font-weight: bold;
}

form{
    align-items: unset;
    padding: 0;
}

.logo{
    width: 40vw;
    height: 30vh;
}

#email{
    margin-bottom: 1em;
}

@media only screen and (max-device-width: 420px)
{
   
    .container{
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }

    .register-container{
        overflow: unset;
        width: 90%;
    }

    .login-container{
        width: 90vw;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .register-form{
        width: 100%;
    }

    .logo{
        width: 90vw;
        height: 35wh;
    }

    #firstname{
        width: 35vw;
        height: 1em;
    }

    #lastname{
        width: 35vw;
        height: 1em;
    }


    .register-button-signup{
        width: 30vw;
    }

    p{
        margin-top: 1em;
    }

    .register-aside>button{
        width: 70vw;
    }

    aside{
        padding: 0;
    }

    input{
        width: 90%;
        height: 1em;
    }

    h1{
        font-size: 30px;
    }
}