html, body {
    height: 100%;
    overflow: auto;
}

body{
    background: rgb(48,129,238);
    background: linear-gradient( rgba(48,129,238,1) 0%, rgba(28,162,240,1) 32%, rgba(32,108,174,1) 40%, rgba(24,74,143,1) 50%, rgba(16,59,132,1) 70%);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.logo{
    height: 50vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}

form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    padding: 1em;
}

input{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 7vh;
    align-items: center;
    border: 1px solid #707070; 
    border-radius: 5px;
    outline: 0;
    padding: 1em;
}

label{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 1em;
}

button{
    border-radius: 10px;
    border: 1px solid #707070; 
    margin-left: auto;
    outline: 0;
}

.input-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

aside{
    width: 50vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 1px solid #FDF8F8;
    margin-top: 23vh;
    padding: 1em;
}

.register-button-signin{
    background: rgba( 255, 255, 255, 55%);
    color: #664F4F;
    border: 1px solid #707070; 
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    height: 7vh;
    font-weight: bold;
}

.login-button-signin{
    background: rgba( 255, 255, 255, 18%);
    color: white;
    border-radius: 10px;
    width: 10vw;
    height: 7vh;
    margin: 1em;
    margin-left: auto;
    margin-right: 0;
    float: right;
    font-weight: bold;
}

p{
    color: #F2F3F3;
    margin-top: 0;
}

label{
    margin-left: inherit;
}

.form-error{
    color: white;
    opacity: 70%;
    font-size: 15px;
}

@media only screen and (max-device-width: 420px) {
    form{
        width: 90%;
        border-bottom: 1px solid #F0EFEF; 
    }

    .login-button-signin{
        background: rgba( 255, 255, 255, 0%);
        width: 25vw;
        border-radius: 0px;
        border: 0;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    input{
        width: 90vw;
        height: 1em;
    }

    aside{
        width: auto;
        align-items: center;
        margin-top: 0;
        margin-left: 0;
        border-left: 0;
        padding-left: 0;
    }

    .register-button-signin{
        width: 90%;
    }

    .input-container{
        width: 100%;
    }
}